<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="768" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MapTemplate.tmx" />
		<entities>
			<player x="257" y="527" w="64" h="96" texture="Assets/Textures/player/Characters.png" gravity="true">
				<animations>
					<death loop="false" speed="0.05" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="3" w="47" h="90" />
						<frame x="79" y="3" w="47" h="90" />
						<frame x="138" y="3" w="47" h="90" />
						<frame x="206" y="3" w="47" h="90" />
						<frame x="271" y="3" w="47" h="90" />
						<frame x="337" y="3" w="47" h="90" />
						<frame x="398" y="3" w="47" h="90" />
					</death>
					<deathW loop="false" speed="0.05" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="99" w="47" h="90" />
						<frame x="79" y="99" w="47" h="90" />
						<frame x="138" y="99" w="47" h="90" />
						<frame x="206" y="99" w="47" h="90" />
						<frame x="271" y="99" w="47" h="90" />
						<frame x="337" y="99" w="47" h="90" />
						<frame x="398" y="99" w="47" h="90" />
					</deathW>
					<idle loop="true" speed="0.1">
						<frame x="14" y="194" w="34" h="90" />
						<frame x="78" y="194" w="34" h="90" />
						<frame x="142" y="194" w="34" h="90" />
						<frame x="206" y="194" w="34" h="90" />
						<frame x="270" y="194" w="34" h="90" />
					</idle>
					<idleW loop="true" speed="0.1" texture="Assets/Textures/player/Characters.png">
						>
						<frame x="6"   y="290"  w="41" h="90" />
						<frame x="70"  y="290" w="41" h="90" />
						<frame x="134" y="290" w="41" h="90" />
						<frame x="198" y="290" w="41" h="90" />
						<frame x="262" y="290" w="41" h="90" />
					</idleW>
					<jump loop="false" speed="0.1" texture="Assets/Textures/player/Characters.png">

						<frame x="15"  y="403" w="49" h="128" />
						<frame x="79"  y="403" w="49" h="128" />
						<frame x="145" y="403" w="49" h="128" />
						<frame x="209" y="403" w="49" h="128" />
						<frame x="271" y="403" w="49" h="128" />
						<frame x="340" y="403" w="49" h="128" />
						<frame x="398" y="403" w="49" h="128" />
						<frame x="459" y="403" w="49" h="128" />
						<frame x="526" y="403" w="49" h="128" />
						<frame x="593" y="403" w="49" h="128" />
					</jump>
					<jumpW loop="false" speed="0.1" texture="Assets/Textures/player/Characters.png">

						<frame x="15"  y="530" w="49" h="105" />
						<frame x="79"  y="530" w="49" h="105" />
						<frame x="145" y="530" w="49" h="105" />
						<frame x="209" y="530" w="49" h="105" />
						<frame x="271" y="530" w="49" h="105" />
						<frame x="340" y="530" w="49" h="105" />
						<frame x="398" y="530" w="49" h="105" />
						<frame x="459" y="530" w="49" h="105" />
						<frame x="526" y="530" w="49" h="105" />
						<frame x="593" y="530" w="49" h="105" />
					</jumpW>
					<pickup loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="643" w="45" h="90" />
						<frame x="79" y="643" w="45" h="90" />
						<frame x="142" y="643" w="45" h="90" />
						<frame x="206" y="643" w="45" h="90" />
						<frame x="271" y="643" w="45" h="90" />
						<frame x="334" y="643" w="45" h="90" />
						<frame x="398" y="643" w="45" h="90" />
						<frame x="463" y="643" w="45" h="90" />
						<frame x="463" y="643" w="45" h="90" />
					</pickup>
					<pickupW loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="739" w="45" h="90" />
						<frame x="79" y="739" w="45" h="90" />
						<frame x="142" y="739" w="45" h="90" />
						<frame x="206" y="739" w="45" h="90" />
						<frame x="271" y="739" w="45" h="90" />
						<frame x="334" y="739" w="45" h="90" />
						<frame x="398" y="739" w="45" h="90" />
						<frame x="463" y="739" w="45" h="90" />
						<frame x="463" y="739" w="45" h="90" />
					</pickupW>
					<attack loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="834" w="47" h="90" />
						<frame x="79" y="834" w="47" h="90" />
						<frame x="138" y="834" w="47" h="90" />
						<frame x="206" y="834" w="47" h="90" />
						<frame x="271" y="834" w="47" h="90" />
						<frame x="337" y="834" w="47" h="90" />
						<frame x="398" y="834" w="47" h="90" />
						<frame x="463" y="834" w="47" h="90" />
						<frame x="463" y="834" w="47" h="90" />
					</attack>
					<attackW loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="934" w="47" h="90" />
						<frame x="79" y="934" w="47" h="90" />
						<frame x="138" y="934" w="47" h="90" />
						<frame x="206" y="934" w="47" h="90" />
						<frame x="271" y="934" w="47" h="90" />
						<frame x="337" y="934" w="47" h="90" />
						<frame x="398" y="934" w="47" h="90" />
						<frame x="463" y="934" w="47" h="90" />
						<frame x="463" y="934" w="47" h="90" />
					</attackW>
					<wakeup loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="1029" w="47" h="90" />
						<frame x="79" y="1029" w="47" h="90" />
						<frame x="138" y="1029" w="47" h="90" />
						<frame x="206" y="1029" w="47" h="90" />
						<frame x="271" y="1029" w="47" h="90" />
						<frame x="337" y="1029" w="47" h="90" />
						<frame x="398" y="1029" w="47" h="90" />
					</wakeup>
					<wakeupW loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="1125" w="47" h="90" />
						<frame x="79" y="1125" w="47" h="90" />
						<frame x="138" y="1125" w="47" h="90" />
						<frame x="206" y="1125" w="47" h="90" />
						<frame x="271" y="1125" w="47" h="90" />
						<frame x="337" y="1125" w="47" h="90" />
						<frame x="398" y="1125" w="47" h="90" />
					</wakeupW>
					<dash loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="1217" w="64" h="90" />
						<frame x="112" y="1217" w="64" h="90" />
						<frame x="220" y="1217" w="64" h="90" />
						<frame x="311" y="1217" w="64" h="90" />
						<frame x="405" y="1217" w="64" h="90" />
						<frame x="530" y="1217" w="64" h="90" />
						<frame x="631" y="1217" w="64" h="90" />
					</dash>
					<dashW loop="false" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="1314" w="64" h="90" />
						<frame x="112" y="1314" w="64" h="90" />
						<frame x="220" y="1314" w="64" h="90" />
						<frame x="311" y="1314" w="64" h="90" />
						<frame x="405" y="1314" w="64" h="90" />
						<frame x="530" y="1314" w="64" h="90" />
						<frame x="631" y="1314" w="64" h="90" />
					</dashW>
					<hurt loop="false" speed="0.05" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="1409" w="64" h="90" />
						<frame x="80" y="1409" w="64" h="90" />
						<frame x="144" y="1409" w="64" h="90" />
						<frame x="207" y="1409" w="64" h="90" />
						<frame x="272" y="1409" w="64" h="90" />
						<frame x="334" y="1409" w="64" h="90" />
						<frame x="399" y="1409" w="60" h="90" />
						<frame x="460" y="1409" w="64" h="90" />
						<frame x="526" y="1409" w="64" h="90" />
					</hurt>
					<hurtW loop="false" speed="0.05" texture="Assets/Textures/player/Characters.png">
						<frame x="16" y="1505" w="64" h="90" />
						<frame x="80" y="1505" w="64" h="90" />
						<frame x="144" y="1505" w="64" h="90" />
						<frame x="207" y="1505" w="64" h="90" />
						<frame x="272" y="1505" w="64" h="90" />
						<frame x="334" y="1505" w="64" h="90" />
						<frame x="399" y="1505" w="60" h="90" />
						<frame x="460" y="1505" w="64" h="90" />
						<frame x="526" y="1505" w="64" h="90" />
					</hurtW>
					<walk loop="true" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="17" y="1601" w="64" h="90" />
						<frame x="82" y="1601" w="64" h="90" />
						<frame x="146" y="1601" w="60" h="90" />
						<frame x="208" y="1601" w="64" h="90" />
						<frame x="274" y="1601" w="40" h="90" />
						<frame x="338" y="1601" w="40" h="90" />
						<frame x="403" y="1601" w="40" h="90" />
						<frame x="466" y="1601" w="40" h="90" />
					</walk>
					<walkW loop="true" speed="0.15" texture="Assets/Textures/player/Characters.png">
						<frame x="17" y="1697" w="64" h="90" />
						<frame x="82" y="1697" w="64" h="90" />
						<frame x="146" y="1697" w="60" h="90" />
						<frame x="208" y="1697" w="64" h="90" />
						<frame x="274" y="1697" w="40" h="90" />
						<frame x="338" y="1697" w="40" h="90" />
						<frame x="403" y="1697" w="40" h="90" />
						<frame x="466" y="1697" w="40" h="90" />
					</walkW>
					<whip loop="false" speed="0.15" texture="Assets/Textures/player/whipAttack.png">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
					</whip>
				</animations>
			</player>
			<items>
				<item name="Whip" x="250" y="692" w="16" h="16" texture="Assets/Textures/Items/items.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="Door key" x="300" y="692" w="16" h="16" texture="Assets/Textures/Items/items.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="16" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="Dash ability" x="200" y="692" w="16" h="16" texture="Assets/Textures/Items/items.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="16" w="16" h="16" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="badguy" x="448" y="350" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="rastrero">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="800" y="280" w="32" h="32" texture="Assets/Textures/enemy/Idle_HellBat.png" gravity="true" type="volador">
					<animations>
						<idle loop="true" speed="0.15">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
						</idle>
					</animations>
				</enemy>
				<enemy name="Anger" x="848" y="672" w="48" h="48" texture="Assets/Textures/bosses/latigo.png" gravity="true" type="boss">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
						</idle>
						<walking loop="true" speed="0.1">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
						</walking>
						<whipAttack loop="false" speed="0.05">
							<frame x="0" y="48" w="96" h="48" />
							<frame x="96" y="48" w="96" h="48" />
							<frame x="192" y="48" w="96" h="48" />
							<frame x="288" y="48" w="96" h="48" />
						</whipAttack>
					</animations>
				</enemy>
			</enemies>
		</entities>
		<dialogues>
			<dialog ID="1" Img="Assets/Textures/Fondo.png" TEXT="War. War never changes. When atomic fire consumed the earth, those who survived did so in great underground vaults. When they opened, their inhabitants moved through the ruins of the old world to build new societies, establish new villages, form new tribes. As the decades passed, what had been the American Southwest united under the banner of the New Republic of California, dedicated to the old-world values of democracy and the rule of law." />
			<dialog ID="2" Img="Assets/Textures/Fondo2.png" TEXT="Cheesecake with mushrooms" />
			<dialog ID="3" Img="Assets/Textures/Fondo2.png" TEXT="aaaaaaaaaabbbbbbbbbbccccccccccddddddddddeeeeeeeeeeffffffffffgggggggggghhhhhhhhhhiiiiiiiiiijjjjjjjjjjkkkkkkkkkkllllllllllmmmmmmmmmmnnnnnnnnnnooooooooooppppppppppqqqqqqqqqqrrrrrrrrrrssssssssssttttttttttuuuuuuuuuuvvvvvvvvvvwwwwwwwwwwxxxxxxxxxxyyyyyyyyyyzzzzzzzzzzAAAAAAAAAABBBBBBBBBBCCCCCCCCCCDDDDDDDDDDEEEEEEEEEEFFFFFFFFFFGGGGGGGGGGHHHHHHHHHHIIIIIIIIIIJJJJJJJJJJKKKKKKKKKKLLLLLLLLLLMMMMMMMMMMNNNNNNNNNNOOOOOOOOOOPPPPPPPPPPQQQQQQQQQQRRRRRRRRRR1234567891TTTTTTTTTTUUUUUUUUUUVVVVVVVVVVWWWWWWWWWWXXXXXXXXXXYYYYYYYYYYZZZZZZZZZZ" />
		</dialogues>
	</scene>
	<scene2>
		<map path="Assets/Maps/" name="MapTemplate2.tmx" />
		<entities>
			<player x="100" y="520" w="32" h="32" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
						<frame x="192" y="0" w="32" h="32" />
						<frame x="224" y="0" w="32" h="32" />
						<frame x="256" y="0" w="32" h="32" />
					</idle>
					<attack loop="false" speed="0.15" texture="Assets/Textures/player/Cuerpo_a_Cuerpo.png">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
						<frame x="192" y="0" w="32" h="32" />
						<frame x="224" y="0" w="32" h="32" />
					</attack>
				</animations>
			</player>
			<items>
				<item name="coin" x="300" y="672" w="32" h="32" texture="Assets/Textures/goldCoin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="badguy2" x="260" y="500" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="rastrero">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="600" y="600" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="volador">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="900" y="600" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="volador">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
			</enemies>
		</entities>
		<dialogues>
			<dialog ID="2" Img="Assets/Textures/Fondo.png" TEXT="Guerra. La guerra nunca cambia. Cuando el fuego atómico consumió la tierra, aquellos que sobrevivieron lo hicieron en grandes bóvedas subterráneas. Cuando se abrieron, sus habitantes se trasladaron a través de las ruinas del viejo mundo para construir nuevas sociedades, establecer nuevas aldeas, formar tribus. A medida que pasaban las décadas, lo que había sido el suroeste de Estados Unidos se unió bajo la bandera de la Nueva República de California, dedicada a los valores del viejo mundo de la democracia y el estado de derecho. " />
			<dialog ID="1" Img="Assets/Textures/Fondo2.png" TEXT="Cheesecake with mushrooms" />
		</dialogues>
	</scene2>
</config>
