<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="768" scale="1" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<scene>
		<map path="Assets/Maps/" name="MapTemplate.tmx" />
		<entities>
			<player x="257" y="527" w="32" h="32" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.1">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />z
					</idle>
					<attack loop="false" speed="0.15" texture="Assets/Textures/player/Cuerpo_a_Cuerpo.png">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
						<frame x="192" y="0" w="32" h="32" />
						<frame x="224" y="0" w="32" h="32" />
					</attack>
					<whip loop="false" speed="0.15" texture="Assets/Textures/player/whipAttack.png">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
					</whip>
				</animations>
			</player>
			<items>
				<item name="Whip" x="250" y="692" w="16" h="16" texture="Assets/Textures/Items/items.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="Door key" x="300" y="692" w="16" h="16" texture="Assets/Textures/Items/items.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="16" y="0" w="16" h="16" />
						</idle>
					</animations>
				</item>
				<item name="Dash ability" x="200" y="692" w="16" h="16" texture="Assets/Textures/Items/items.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="16" w="16" h="16" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="badguy" x="448" y="350" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="rastrero">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="800" y="280" w="32" h="32" texture="Assets/Textures/enemy/Idle_HellBat.png" gravity="true" type="volador">
					<animations>
						<idle loop="true" speed="0.15">
							<frame x="0" y="0" w="64" h="64" />
							<frame x="64" y="0" w="64" h="64" />
							<frame x="128" y="0" w="64" h="64" />
							<frame x="192" y="0" w="64" h="64" />
							<frame x="256" y="0" w="64" h="64" />
						</idle>
					</animations>
				</enemy>
				<enemy name="Anger" x="848" y="672" w="48" h="48" texture="Assets/Textures/bosses/latigo.png" gravity="true" type="boss">
					<animations>
						<idle loop="true" speed="0.1">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
						</idle>
						<walking loop="true" speed="0.1">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
						</walking>
						<whipAttack loop="false" speed="0.05">
							<frame x="0" y="48" w="96" h="48" />
							<frame x="96" y="48" w="96" h="48" />
							<frame x="192" y="48" w="96" h="48" />
							<frame x="288" y="48" w="96" h="48" />
						</whipAttack>
					</animations>
				</enemy>
			</enemies>
		</entities>
		<dialogues>
			<dialog ID="01" Img="Assets/Textures/Fondo.png" TEXT="War. War never changes. When atomic fire consumed the earth, those who survived did so in great underground vaults. When they opened, their inhabitants moved through the ruins of the old world to build new societies, establish new villages, form new tribes. As the decades passed, what had been the American Southwest united under the banner of the New Republic of California, dedicated to the old-world values of democracy and the rule of law." />
			<dialog ID="02" Img="Assets/Textures/Fondo2.png" TEXT="Cheesecake with mushrooms" />
		</dialogues>
	</scene>
	<scene2>
		<map path="Assets/Maps/" name="MapTemplate2.tmx" />
		<entities>
			<player x="100" y="520" w="32" h="32" texture="Assets/Textures/player/Idle.png" gravity="true">
				<animations>
					<idle loop="true" speed="0.5">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
						<frame x="192" y="0" w="32" h="32" />
						<frame x="224" y="0" w="32" h="32" />
						<frame x="256" y="0" w="32" h="32" />
					</idle>
					<attack loop="false" speed="0.15" texture="Assets/Textures/player/Cuerpo_a_Cuerpo.png">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
						<frame x="160" y="0" w="32" h="32" />
						<frame x="192" y="0" w="32" h="32" />
						<frame x="224" y="0" w="32" h="32" />
					</attack>
				</animations>
			</player>
			<items>
				<item name="coin" x="300" y="672" w="32" h="32" texture="Assets/Textures/goldCoin.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
						</idle>
					</animations>
				</item>
			</items>
			<enemies>
				<enemy name="badguy2" x="260" y="500" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="rastrero">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="600" y="600" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="volador">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
				<enemy name="badguy2" x="900" y="600" w="32" h="32" texture="Assets/Textures/enemy/Idle.png" gravity="true" type="volador">
					<animations>
						<idle loop="true" speed="0.5">
							<frame x="0" y="0" w="32" h="32" />
							<frame x="32" y="0" w="32" h="32" />
							<frame x="64" y="0" w="32" h="32" />
							<frame x="96" y="0" w="32" h="32" />
							<frame x="128" y="0" w="32" h="32" />
							<frame x="160" y="0" w="32" h="32" />
							<frame x="192" y="0" w="32" h="32" />
							<frame x="224" y="0" w="32" h="32" />
							<frame x="256" y="0" w="32" h="32" />
						</idle>
					</animations>
				</enemy>
			</enemies>
		</entities>
		<dialogues>
			<dialog ID="02" Img="Assets/Textures/Fondo.png" TEXT="Guerra. La guerra nunca cambia. Cuando el fuego atómico consumió la tierra, aquellos que sobrevivieron lo hicieron en grandes bóvedas subterráneas. Cuando se abrieron, sus habitantes se trasladaron a través de las ruinas del viejo mundo para construir nuevas sociedades, establecer nuevas aldeas, formar tribus. A medida que pasaban las décadas, lo que había sido el suroeste de Estados Unidos se unió bajo la bandera de la Nueva República de California, dedicada a los valores del viejo mundo de la democracia y el estado de derecho. " />
			<dialog ID="01" Img="Assets/Textures/Fondo2.png" TEXT="Cheesecake with mushrooms" />
		</dialogues>
	</scene2>
</config>
